<div class="loading" *ngIf="!loadSuccess"></div>
<!-- HEADER -->
<app-header></app-header>
<!-- /HEADER -->

<!-- MAIN -->
<!-- <div class="img-line"></div> -->
<hr class="uk-divider-icon">
<main #content id="content" class="uk-container uk-section uk-section-xsmall uk-box-shadow-xlarge">
  <router-outlet></router-outlet>
</main>
<hr class="uk-divider-icon">
<!-- <div class="img-line"></div> -->
<!-- /MAIN -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- /FOOTER -->

<audio #audio loop></audio>