@import "../../../assets/css/color.scss";

.slide-modal .image-row {
  display: flex;
  flex-wrap: wrap;
}

.slide-modal .image-row>.image-column {
  padding: 5px 10px;
}

.slide-modal .image-row:after {
  content: "";
  display: table;
  clear: both;
}

.slide-modal .image-column {
  float: left;
  width: 25%;
}

.slide-modal img {
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
}

.slide-modal {
  overflow: hidden;
  // display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.slide-modal .uk-icon {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 20px;
  background-color: $bkg-main;
  color: white !important;
  padding: 5px;
  border-radius: 5px;

  &.close {
    background-color: red;
  }
}

.slide-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
}


.slide-modal .img-slides {
  text-align: center;
  height: 100%;
  display: none;
}

.slide-modal .img-slides.show {
  display: flex;
}

.slide-modal .cursor {
  cursor: pointer;
}

.slide-modal .prev,
.slide-modal .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 18px;
  margin-top: -50px;
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.8s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  -webkit-user-select: none;
}

.slide-modal .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slide-modal .prev:hover,
.slide-modal .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide-modal progress {
  z-index: 1;
  height: 5px;
  border-radius: 0;
}

.thumbnailalbum {
  height: 250px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-modal .thumbnailalbum {
  height: 30%;
  min-height: 50px;
  background-size: contain;

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #fff;
    border-right-width: 0;
    border-bottom-width: 0;
  }

  &:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 5px solid #fff;
    border-left-width: 0;
    border-top-width: 0;
  }
}

.slide-modal .slide-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.pz-zoom-button {
  display: none;
}

.pinch-zoom-content {
  width: 100%;
}
