$base-bkg-main: rgb(240, 80, 110);
$base-bkg-sub:rgb(249, 198, 217);
$base-text-color: rgb(205, 15, 49);
$base-text-color-link: rgb(228, 25, 22);
$base-text-color-link-hover: rgb(244, 76, 112);
$bkg-main: rgb(240, 190, 210);
// $bkg-green: rgb(76, 175, 80);
$bkg-green: rgb(240, 80, 110);
$bkg-linear-gradient: linear-gradient(120deg, $base-bkg-main, $base-bkg-sub);
