$base-bkg-main: rgb(240, 80, 110);
$base-bkg-sub:rgb(249, 198, 217);
// $base-text-color: rgb(153, 126, 90);
$base-text-color: rgb(205, 15, 49);
// $base-text-color-link: rgb(244, 76, 112);
$base-text-color-link: rgb(255, 0, 0);
$base-text-color-link-hover: rgb(244, 76, 112);
$bkg-linear-gradient: linear-gradient(120deg, $base-bkg-main, $base-bkg-sub);
// $bkg-main: rgba(222, 204, 181, 1);
$bkg-main: rgb(240, 190, 210);