@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
// @import "../node_modules/lightgallery.js/dist/css/lightgallery.min.css";
@import "./assets/css/custom.scss";

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dancing Script" !important;
}
h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

nav,
.section-title {
    font-family: "Lobster" !important;
}

.material-icons {
    font-family: "Material Icons" !important;
    font-size: unset;
}

.uk-navbar-nav > li > a {
    text-transform: none;
}

html,
body {
    height: 100vh;
    /* font-size: 25px; */
    background-color: rgba(222, 204, 181, 0.5);
    color: #612d7f;
}

.uk-offcanvas-bar{
    background-color: rgb(153, 126, 90);
}

.background-sub {
    background-color: rgba(153, 126, 90, 0.5);
}

a {
    color: rgb(153, 126, 90);
    :hover,
    :focus {
        color: rgb(94, 77, 55);
        text-decoration: none;
    }
}

.site-logo {
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #fff;
    font-size: 15px;
    font-family: "Lobster", sans-serif;
    color: red;
    position: relative;
    padding: 6px 10px;

    ::after {
        font-family: "Material Icons";
        content: "\e87d";
        position: absolute;
        font-size: 15px;
        bottom: -11px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        color: red;
    }

    span {
        color: #fff;
        font-weight: bold;
        /* font-family: "Dancing Script", cursive; */
    }
}

footer {
    color: white;
    height: 250px;
    /* line-height: 250px; */
    font-size: 400%;
    text-align: center;
    /* padding-top: 25px;
    padding-left: 25%; */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}
