@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

*,
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: "Dancing Script";
  font-size: 20pt;
  min-height: auto;
}

$material-icons-font-path: "~material-icons/iconfont/";
@import "~material-icons/iconfont/material-icons.scss";

// @import "~material-icons/css/material-icons.scss";
.material-icons {
  vertical-align: middle;
  // font-size: 100%
}

.uk-button .material-icons {
  vertical-align: initial;
}

@import "~uikit/dist/css/uikit.css";

@import "./assets/css/color.scss";
@import "./assets/css/animation.scss";
@import "./assets/css/custom.scss";

::selection {
  background: $base-bkg-main;
  color: $base-bkg-sub;
}

.uk-flex {
  display: flex;
}

.uk-button {
  text-transform: none;
  font-size: 100% !important;
}

.disable-event {
  pointer-events: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  word-break: break-word;
  vertical-align: baseline;
}

section {
  margin-bottom: 50px;
}

section:last-child {
  margin-bottom: 0px;
}

em,
html,
body {
  color: $base-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $base-text-color;
  font-family: "Dancing Script";
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

nav,
.section-title {
  font-family: "Lobster" !important;
}

.background-green {
  background-color: $bkg-green !important;
}

main img {
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
}

.loading {
  position: fixed;
  z-index: 99999;
  height: 100%;
  width: 100%;
  background-color: $bkg-main;
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}
