// :nth-child(7n-6) > .uk-panel {
//   height: 120px;
// }

// :nth-child(7n-5) > .uk-panel {
//   height: 180px;
// }

// :nth-child(7n-4) > .uk-panel {
//   height: 200px;
// }

// :nth-child(7n-3) > .uk-panel {
//   height: 170px;
// }

// :nth-child(7n-2) > .uk-panel {
//   height: 220px;
// }

// :nth-child(7n-1) > .uk-panel {
//   height: 160px;
// }

// :nth-child(7n) > .uk-panel {
//   height: 250px;
// }

// .uk-panel {
//   background-size: contain;
//   background-repeat: no-repeat;
//   text-align: center;
//   background-position: center;
// }
// @import '~flickr-justified-gallery/dist/fjGallery.css'
.fj-gallery {
    position: relative;
    overflow: hidden;
    -webkit-transition: .2s height ease-in-out;
    transition: .2s height ease-in-out;
}
.fj-gallery::after {
    content: "";
    display: block;
    clear: both;
}
.fj-gallery .fj-gallery-item {
    float: left;
    top: 0;
    left: 0;
    -webkit-transition: .2s -webkit-transform ease-in-out;
    transition: .2s transform ease-in-out;
}
.fj-gallery .fj-gallery-item > img {
    display: block;
    width: 100%;
    height: auto;
}

