<h1 uk-sticky="bottom: true" class="section-title">Happy Wedding</h1>
<div class="uk-text-center">
  <img class="icon-funny" src="/img/lotus/4.png">
</div>
<section class="uk-section uk-section-xsmall">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <h1 [innerHtml]="">Nhà gái - Tân Quới</h1>
      <h3 [innerHtml]="">
        Ông:
        <br>
        Bà:
      </h3>
      <p [innerHtml]="">
        09 giờ, ngày 01 tháng 05 năm 2021,
        <br>tại <b>Tư Gia Nhà Gái</b>
      </p>
    </div>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <h1 [innerHtml]="">Nhà trai - Tân Long</h1>
      <h3 [innerHtml]="">
        Ông:
        <br>
        Bà:
      </h3>
      <p [innerHtml]="">
        09 giờ, ngày 02 tháng 05 năm 2021,
        <br>tại <b>Tuan Cong Palace</b> (Chợ Mới)
      </p>
    </div>
  </div>
</section>

<h1 uk-sticky="bottom: true" class="section-title">Cô dâu & Chú rể</h1>
<div class="uk-text-center">
  <img class="icon-funny" src="/img/lotus/11.png">
</div>
<section class="uk-section uk-section-xsmall">
  <div class="uk-text-center" uk-grid>
    <div *ngFor="let item of portfolio" class="uk-width-1-2@m uk-width-1-1@s">
      <img [lazyLoad]="item.avatar.getSizeImage(300)" alt="{{item.name}}" style="max-height:100%; max-width: 100%;"
        class="uk-responsive uk-border-circle uk-box-shadow-large" />
      <h1 [innerHtml]="item.name"></h1>
      <!-- <h3 [innerHtml]="item.birth"></h3> -->
      <p [innerHtml]="item.bio"></p>
    </div>
  </div>
</section>

<h1 uk-sticky="bottom: true" class="section-title">Câu chuyện tình yêu</h1>
<div class="uk-text-center">
  <img class="icon-funny" src="/img/lotus/9.png">
</div>
<section class="uk-section uk-section-xsmall">
  <div *ngIf="timeline != null">
    <app-horizontal-timeline [timelineElements]="timeline" [showContent]="true"></app-horizontal-timeline>
  </div>
</section>


<div *ngIf="imageWedding != null && imageWedding.length > 0">
  <h1 uk-sticky="bottom: true" class="section-title">Album</h1>
  <div class="uk-text-center">
    <img class="icon-funny" src="/img/lotus/3.png">
  </div>
  <section class="uk-section uk-section-xsmall" *ngFor="let item of imageWedding; let i = index">
    <!-- <h3 class="">{{item.title}}</h3> -->
    <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid="masonry: true">
      <div *ngFor="let image of item.ListImage.slice(0, 12), let iImg = index">
        <a routerLink="/album/{{item.id}}/{{iImg}}"
          class="uk-card uk-card-default uk-card-body uk-card-hover uk-flex uk-flex-center">
          <img data-srcset="{{image.getSrcSet()}}" [lazyLoad]="image.getSizeImageMin()">
        </a>
      </div>
    </div>
  </section>
</div>
