<section class="uk-section">
	<h1 class="section-title">Bride & Groom</h1>
	<div class="uk-text-center" uk-grid>
		<div *ngFor="let item of portfolio" class="uk-width-1-2@m uk-width-1-1@s">
			<img alt="{{item.name}}" [lazyLoad]="item.avatar.getSizeImage()" style="height:500px"
				class="uk-border-circle" />
			<h1 [innerHtml]="item.name"></h1>
			<h3 [innerHtml]="item.birth"></h3>
			<p [innerHtml]="item.bio"></p>
		</div>
	</div>
</section>
<section class="uk-section">
	<h1 class="section-title">Story of Love</h1>
	<div *ngIf="timeline != null">
		<app-horizontal-timeline [timelineElements]="timeline" [showContent]="true"></app-horizontal-timeline>
	</div>
</section>