:nth-child(7n-6) > .uk-panel {
    height: 120px;
}
:nth-child(7n-5) > .uk-panel {
    height: 180px;
}
:nth-child(7n-4) > .uk-panel {
    height: 200px;
}
:nth-child(7n-3) > .uk-panel {
    height: 170px;
}
:nth-child(7n-2) > .uk-panel {
    height: 220px;
}
:nth-child(7n-1) > .uk-panel {
    height: 160px;
}
:nth-child(7n) > .uk-panel {
    height: 250px;
}
