<button class="btn button-floaty" id="floatyMenu" data-toggle="modal" data-target="#modalMenu"></button>
<div class="modal fade" id="modalMenu" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center" style="margin-top: -20px;">
                    <div class="col-md-4 col-sm-6" style="margin-top: 20px;" ng-init="$last && loadComplete()"
                        ng-repeat="item in dataArrayMenu">
                        <a class="d-block btn" href="{{item.href}}" ng-class="activeMenu(item.href)"
                            ng-click="closeFloatyMenu()">
                            <span class="icon display-4" ng-bind-html="item.icon"></span>
                            <h3 class="litmitText">{{item.text}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>