<h1 uk-sticky="bottom: true" class="section-title">Album</h1>
<div class="uk-text-center">
  <span class="icon-funny lotus15"></span>
</div>
<section class="uk-section uk-section-xsmall">
  <div class="uk-margin-bottom uk-inline uk-width-1-1">
    <span class="material-icons uk-form-icon uk-form-icon-flip uk-flex" translate="no">search</span>
    <!-- <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: search"></span> -->
    <input class="uk-input uk-border-pill uk-padding-small" placeholder="Tìm kiếm album" type="text" [ngModel]="search"
      (ngModelChange)="filterAlbum($event)" />
  </div>

  <div class="uk-margin-bottom uk-inline uk-width-1-1">
    <ul class="uk-tab" uk-tab>
      <li [ngClass]="selectorAlbumCategory == item.id ? 'uk-active': ''" class="uk-width-1-1@s uk-width-auto@m"
        *ngFor="let item of albumCategory">
        <a (click)="filterAlbumCategory(item.id)">{{item.title}}</a>
      </li>
    </ul>
  </div>

  <h3 *ngIf="result == null || result.length == 0">Không tìm thấy kết quả</h3>
  <div *ngFor="let item of result"
    class="uk-section uk-section-default uk-box-shadow-small uk-section-xsmall uk-margin-bottom">
    <div
      class="uk-grid uk-grid-small uk-flex uk-flex-middle uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
      <div class="uk-width-expand header-card uk-margin-small-bottom">
        <a (click)="viewAlbum(item.album.id)">
          <h3 class="uk-text-left">
            <!-- <span [ngSwitch]="item.album.albumType">
              <span *ngSwitchCase="'video'" class="material-icons">tv</span>
              <span *ngSwitchDefault class="material-icons">image</span>
            </span> -->
            <span> {{item.album.title}}</span>
          </h3>
        </a>
      </div>
      <div class="uk-width-1-1 uk-padding-remove-right uk-padding-remove-top uk-padding-remove-bottom"
        style="font-size: 15px">
        <div class="uk-grid uk-grid-small uk-child-width-1-2">
          <div>
            <span class="material-icons" translate="no" style="font-size: 15px">category</span>
            &nbsp;
            <span style="vertical-align: middle">{{item.category.title}}</span>
          </div>
          <div class="uk-text-right">
            <span class="material-icons" translate="no" style="font-size: 15px">calendar_today</span>
            &nbsp;
            <span style="vertical-align: middle">{{item.album.date | date:'yyyy/MM/dd'}}</span>
          </div>
        </div>
        <hr class="uk-divider-icon uk-margin-remove">
      </div>
      <div class="uk-width-1-1">
        <i class="uk-text-muted uk-text-meta">{{item.album.description}}</i>
      </div>
      <app-image-lightbox [objImg]="item" [id]="'Album_'+item.album.id" class="uk-width-1-1">
      </app-image-lightbox>
    </div>
  </div>
</section>