<section class="uk-section">
  <h1 class="section-title">Album</h1>

  <div class="uk-margin-bottom uk-inline uk-width-1-1">
    <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: search"></span>
    <input class="uk-input uk-border-pill uk-padding-small background-sub" placeholder="Tìm kiếm album" type="text"
      [ngModel]="search" (ngModelChange)="filterAlbum($event)" />
  </div>

  <div *ngFor="let item of result"
    class="uk-section uk-section-default uk-box-shadow-small uk-section-xsmall uk-margin-bottom">
    <div class="uk-grid uk-grid-small uk-flex uk-flex-middle uk-padding-small" data-uk-grid>
      <!-- <div class="uk-width-auto">
        <img style="height: 65px;width: 65px;" [lazyLoad]="item.album.ListImage[0].getSizeImage()"
          alt="{{item.album.title}}" class="uk-border-circle uk-background-cover">
      </div> -->
      <div class="uk-width-1-1 header-card">
        <a routerLink="/album/{{item.album.id}}">
          <h3 class="uk-margin-remove">{{item.album.title}}</h3>
        </a>
      </div>
      <div class="uk-width-1-1">
        <i class="uk-text-muted uk-text-small">{{item.album.description}}123131232</i>
      </div>
      <!-- <div class="uk-width-auto">
        <div class="uk-inline">
          <a routerLink="/album/{{item.album.id}}" data-uk-icon="icon:play-circle"></a>
        </div>
      </div> -->
      <ngx-gallery [options]="galleryOptions" [images]="item.galleryImages" [id]="'Album_'+item.album.id"
        (previewClose)="closePreviewAlbum()" class="ngx-gallery" #ngxGalleryAlbums>
      </ngx-gallery>
    </div>
  </div>
</section>