@import "../../../assets/css/color.scss";

.ngx-gallery {
  margin-top: 0 !important;
}

.ngx-gallery-preview-text,
.ngx-gallery-preview-top {
  background: $bkg-main !important;
  z-index: 9;
}

.ngx-gallery-preview-icons {
  float: none !important;
  text-align: center;
}

.ngx-gallery-icon,
.ngx-gallery-arrow i {
  background-color: red;
  padding: 5px;
  border-radius: 50%;
  // opacity: .75;
  margin: 5px !important;
}

.ngx-gallery-arrow {
  background: transparent;
  height: 100%;
  margin: 0 !important;
  border-radius: 0;
  opacity: 0.75;
}

.ngx-gallery-arrow i {
  height: auto;
  position: relative;
  top: 50%;
}

.ngx-gallery-arrow-left .ngx-gallery-arrow {
  left: 0 !important;
}

.ngx-gallery-arrow-right .ngx-gallery-arrow {
  right: 0 !important;
}

.ngx-gallery-preview-img {
  max-width: 100% !important;
  max-height: 100% !important;
}
