@keyframes beatHeart {
    to {
        transform: scale(1.4);
    }
}

.countdown-heart {
    font-size: 40px;
    color: #fff;
    animation: beatHeart infinite alternate;
    transform-origin: center;
}

.countdown-heart::after {
    font-family: 'FontAwesome';
    content: "\f004";
    left: calc(50% - 200px);
    top: -450%;
    position: absolute;
    font-size: 400px;
    opacity: .5;
    z-index: -1;
    color: #e00;
}