@keyframes beatHeart {
    from{
        transform: scale(.5);
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes changeLetter {
    from{
        transform: scale(1);
        opacity: .1;
        content: "\e87d";
    }
    to {
        opacity: 1;
        content: "\e87e";
        transform: scale(2);
    }
}

.countdown-heart {
    font-size: 40px;
    color: #fff;
    animation: beatHeart infinite alternate;
    transform-origin: center;
}

.countdown-heart::after {
    font-family: 'Material Icons';
    content: "\e87d";
    left: calc(50% - 200px);
    top: -450%;
    position: absolute;
    font-size: 400px;
    opacity: .5;
    z-index: -1;
    color: #e00;
    animation: changeLetter .5s linear infinite alternate;
}