.elastic-slider {
    position: relative;
    width: 400px;
    height: 300px;
    cursor: default;
    overflow: hidden
}

.elastic-slider svg {
    position: absolute;
    top: 0;
    left: 0
}

.elastic-slider svg path {
    stroke: #5f656f
}

.elastic-slider>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.elastic-slider>div.current {
    z-index: 1
}

.elastic-slider>div.clipped-left, .elastic-slider>div.clipped-right {
    z-index: 2
}

.elastic-slider>div.clipped-left {
    -webkit-clip-path: url(#clipped-left);
    clip-path: url(#clipped-left);
}

.elastic-slider>div.clipped-right {
    -webkit-clip-path: url(#clipped-right);
    clip-path: url(#clipped-right);
}

.elastic-slider button, .elastic-slider button:focus {
    outline: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    border: none;
    height: 35px;
    width: 35px;
    background: url(../img/arrow.svg) no-repeat 0 0;
    background-size: cover;
}

.elastic-slider button.left {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.elastic-slider button.right {
    right: 0
}