.floaty, .button-floaty {
  display: block;
  position: fixed;
  z-index: 10000;
}

.button-floaty, .button-floaty:hover {
  width: 50px;
  height: 50px;
  font-size: 25px;
  border: 5px solid rgba(153, 126, 90, 0.5);
  color: rgb(153, 126, 90);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgba(0, 0, 0, .5); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  bottom: 0%;
  left: calc(100vw - 50%);
  font-family: 'Material Icons';
}

.button-floaty.active {
  background-color: rgba(255, 255, 255, 1);
}

.button-floaty::before {
  color: red;
  content: "\e87d";
  position: absolute;
  top: -45%;
  width: 100%;
  left: 0;
}

.button-floaty::after {
  position: absolute;
  height: 100%;
  top: 0;
  line-height: 50px;
  width: 100%;
  left: 0;
  content: "\e5d2";
}

.button-floaty.active::after {
  content: "\e5cd";
}