.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-image: url(https://demo.createx.studio/createx/img/homepages/theme-presentation/hero-bg-back.jpg)
}

.hero-content {
    margin-top: -100vmax;
    position: relative;
}

.hero-content h1 * {
    background-color: rgba(0, 0, 0, .14);
}

.hero-bg {
    width: 100%;
    height: 100vmax;
    animation: opacityAnimation .8s ease-out both
}

.hero-bg:after {
    content: "";
    left: 0;
    right: 0;
    height: 95vmax;
    top: calc(100vmax - 300px);
}

.hero-bg-img {
    top: -5vmax;
    right: -5vmax;
    bottom: -5vmax;
    left: -5vmax;
    opacity: 0;
    background: #e3e5e8
}

.hero-bg-img:last-child img {
    -o-object-position: 80% 100%;
    object-position: 80% 100%
}

.hero-bg-img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes hero0 {
    0% {
        opacity: 0;
        transform: translate3d(5vmax, 2vmax, 0) scale(1.1)
    }
    5% {
        opacity: 1
    }
    33% {
        opacity: 1
    }
    38% {
        opacity: 0;
        transform: translate3d(0, -2vmax, 0) scale(1)
    }
}

@keyframes hero1 {
    0% {
        opacity: 0;
        transform: translate3d(-2vmax, 0, 0) scale(1)
    }
    5% {
        opacity: 1
    }
    33% {
        opacity: 1
    }
    38% {
        opacity: 0;
        transform: translate3d(2vmax, -2vmax, 0) scale(1.1)
    }
}

@keyframes hero2 {
    0% {
        opacity: 0;
        transform: translate3d(0, 2vmax, 0) scale(1)
    }
    5% {
        opacity: 1
    }
    33% {
        opacity: 1
    }
    38% {
        opacity: 0;
        transform: translateY(-2vmax) scale(1.1)
    }
}