@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.loading-sprite, #loading #indicator .flower, #loading #indicator .hearts, #mobilepage .background {
    background-image: url('../img/loading.png');
    background-repeat: no-repeat
}

#loading {
    background-color: #DECCB5;
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000
}

#loading #indicator {
    position: fixed;
    left: 50vw;
    top: 50vh;
    margin-left: -41px;
    margin-top: -67px;
    z-index: 1001
}

#loading #indicator .flower {
    background-position: -98px 0;
    height: 135px;
    width: 83px
}

#loading #indicator .hearts {
    background-position: 0 0;
    height: 98px;
    width: 98px;
    position: absolute;
    top: -24px;
    left: -7px;
    -webkit-animation: spin 8s infinite linear;
    -moz-animation: spin 8s infinite linear;
    -o-animation: spin 8s infinite linear;
    animation: spin 8s infinite linear
}