.loading-sprite, #loading #indicator .flower, #loading #indicator .hearts, #mobilepage .background {
    background-image: url('../img/loading.png');
    background-repeat: no-repeat
}

#loading {
    background-color: #DECCB5;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000
}

#loading #indicator {
    position: fixed;
    left: 50vw;
    top: 50vh;
    margin-left: -41px;
    margin-top: -67px;
    z-index: 1001
}

#loading #indicator .flower {
    background-position: -98px 0;
    height: 135px;
    width: 83px
}

#loading #indicator .hearts {
    background-position: 0 0;
    height: 98px;
    width: 98px;
    position: absolute;
    top: -24px;
    left: -7px;
    -webkit-animation: spin 8s infinite linear;
    -moz-animation: spin 8s infinite linear;
    -o-animation: spin 8s infinite linear;
    animation: spin 8s infinite linear
}

#loading a {
    color: #fff;
    display: block;
    margin-top: 10px
}

#loading a:hover {
    color: #fff
}

#errorpage {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 500px;
    margin: -150px 0 0 -250px;
    color: #fff
}

#errorpage img {
    position: absolute;
    top: 50px;
    left: -50px
}

#errorpage .text {
    position: absolute;
    top: 0px;
    left: 200px
}

#errorpage h1 {
    font-size: 20px;
    margin: 30px 0 20px 0;
    color: #b40000
}

#errorpage p {
    margin-bottom: 10px;
    line-height: 1.2em
}

#errorpage a {
    color: #fff
}

#errorpage a:hover {
    color: #fff
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(359deg)
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

#mobilepage {
    display: none;
    color: #fff;
    min-width: 250px;
    min-height: 370px
}

#mobilepage .background {
    background-position: 0 -135px;
    height: 361px;
    width: 224px;
    position: absolute;
    bottom: 5px;
    left: 10px
}

#mobilepage .text {
    display: block;
    position: absolute;
    bottom: 170px;
    left: 100px;
    max-width: 300px;
    padding-right: 10px;
    line-height: 1.2em
}
