.simplebar-scrollbar:after {
    font-family: 'FontAwesome';
    content: "\f004";
    position: relative;
    opacity: 1;
    color: red;
}

.simplebar-scrollbar:before {
    background-color: red;
}

.simplebar-scrollbar.simplebar-visible:before{
    opacity: .25;
}

.simplebar-track.simplebar-vertical {
    width: 15px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    width: 5px;
    left: 6px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:after {
    bottom: -5px;
    left: 0;
    position: absolute;
}

.simplebar-track.simplebar-horizontal {
    height: 15px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 5px;
    right: 0;
    top: 6px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:after {
    top: -5px;
    right: 3px;
    position: absolute;
}