<div class="cd-horizontal-timeline" [ngClass]="{'loaded': loaded}">

  <div class="timeline">
    <div class="events-wrapper">
      <div class="events" #eventsWrapper [style.width.px]="eventsWrapperWidth">
        <ol>
          <li *ngFor="let item of timelineElements; let index = index">
            <a #timelineEvents href="#" [attr.index]="index"
              [ngClass]="{'selected': item.selected, 'older-event': index < selectedIndex}"
              (click)="onEventClick($event, item)" [attr.datetime]="item.date | date:dateFormat">{{item.value}}</a>
          </li>
        </ol>
        <span class="filling-line" aria-hidden="true" #fillingLine></span>
      </div>
    </div>

    <ul class="cd-timeline-navigation">
      <li>
        <a href="#" (click)="onScrollClick($event, false)" class="prev"
          [ngClass]="{'inactive':prevLinkInactive}">Prev</a>
      </li>
      <li>
        <a href="#" (click)="onScrollClick($event, true)" class="next"
          [ngClass]="{'inactive':nextLinkInactive}">Next</a>
      </li>
    </ul>
  </div>

  <div class="events-content" *ngIf="showContent">
    <ol>
      <li *ngFor="let item of timelineElements; let index = index" [ngClass]="item.selected ? 'selected' : ''">
        <!-- [@contentState]="item.selected ? 'active' : (index < selectedIndex ? 'left' : 'right')"> -->
        <h2 [innerHTML]="item.title"></h2>
        <em [innerHTML]="item.description"></em>
        <div>
          <div class="uk-width-1-4@m uk-width-1-1@s">
            <img [lazyLoad]="item.img" class="uk-align-left@m uk-box-shadow-large" style="width:100%" />
          </div>
          <p class="uk-text-justify uk-dropcap" [innerHTML]="item.content"></p>
        </div>
      </li>
    </ol>
  </div>

  <hr class="uk-divider-icon">
  <div class="timeline">
    <ul class="uk-grid">
      <li class="uk-width-1-2@m uk-width-1-1@s uk-text-left">
        <a href="#" (click)="onScrollClick($event, false, true)" [ngClass]="{'inactive':prevLinkInactive}"
          class="uk-button uk-button-large uk-button-danger" style="width: 100%">
          <span uk-icon="chevron-left"></span> Quay lại
        </a>
      </li>
      <li class="uk-width-1-2@m uk-width-1-1@s uk-text-right">
        <a href="#" (click)="onScrollClick($event, true, true)" [ngClass]="{'inactive':nextLinkInactive}"
          class="uk-button uk-button-large uk-button-danger" style="width: 100%">
          Đọc tiếp <span uk-icon="chevron-right"></span>
        </a>
      </li>
    </ul>
  </div>

</div>
