<footer class="uk-section uk-section-small uk-position-relative" [ngStyle]="appComponent.footerImg">
  <div class="uk-container">
    <div class="uk-position-top-center uk-position-z-index" style="z-index: 9;line-height:0">
      <a href="#content" data-uk-scroll="duration: 500" data-uk-icon="icon: chevron-up; ratio: 2"></a>
    </div>

    <h1 [ngClass]="appComponent.hiddenNavigation ? 'uk-invisible':''" [attr.uk-sticky]="appComponent.ukSticky"
      class="section-title">Lời chúc</h1>
    <section class="uk-padding-small uk-section uk-section-xsmall uk-position-relative">
      <div class="uk-navbar-item uk-padding-small">
        <div class="site-logo background-sub">Tứ <span class="material-icons" translate="no">favorite</span> Vy
        </div>
        <!-- <div class="site-logo background-sub">Tứ <span>&amp;</span> Vy</div> -->
      </div>

      <div class="uk-form-horizontal uk-light" *ngIf="appComponent.message != null && !isSendMessage">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text">
            <span class="material-icons" translate="no">how_to_reg</span> Tên</label>
          <div class="uk-form-controls">
            <div class="uk-inline uk-width-1-1">
              <input class="uk-input" type="text" placeholder="Nhập tên..."
                [(ngModel)]="appComponent.message.data[0].value" required>
            </div>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text">
            <span class="material-icons" translate="no">forum</span> Lời chúc
          </label>
          <div class="uk-form-controls">
            <div class="uk-inline uk-width-1-1">
              <textarea class="uk-textarea" type="text" placeholder="Nhập lời chúc..." rows="2"
                (keydown)="keydownTextarea($event)" [(ngModel)]="appComponent.message.data[1].value"
                required></textarea>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="uk-button uk-button-large uk-button-danger uk-width-1-5@l uk-width-1-6@m uk-width-1-1@s uk-float-right"
            (click)="sendMessage()"><span class="material-icons" translate="no">send</span> Gửi</button>
          <!-- <button class="uk-button uk-button-large uk-button-secondary uk-width-1-2" (click)="resetMessage()"><span
                class="material-icons" translate="no">undo</span> Soạn lại</button> -->
        </div>
      </div>
      <div class="uk-text-center uk-light" *ngIf="isSendMessage">
        <h1 class="" [innerHTML]="appComponent.footerText | safeHtml"></h1>
        <span class="icon-funny lotus3"></span>
      </div>
    </section>
  </div>
</footer>
